body 
{
    
     background-color: #000000;
     scroll-behavior: smooth;
     font-family: "Poppins", sans-serif;
     color: white;
     
}

.signin-btn {
    
    padding: 6px 18px;
    border-radius: 20px;
    border: 2px solid white;
    color: white;
    text-decoration: none;
    font-weight: 500;

    background: transparent;
    transition: all 0.3s ease;
}

.signin-btn:hover {
    background-color: rgb(197, 0, 197);
    border-color: rgb(197, 0, 197);
    transform: scale(1.05);
}

.navbar .nav-link
{
    color: white;
}

nav a 
{   
    text-decoration: none;  
}



.nav-link:hover
{
    color:rgb(197, 0, 197);
    transition: all 0.5s ease;
    transform: scale(1.1);

}

#Home
{
     height: 100vh;
     text-align:center;
     align-content: center;
     padding-top: 70px;  
}

#niviname
{
    margin: 10px;
    
}

#desig 
{
    margin: 20px;
    
}
#role-text {
  display: inline-block;
  transition: opacity 0.4s ease, transform 0.4s ease;
}
.fade-out {
  opacity: 0;
  transform: scale(1);
}
.fade-in {
  opacity: 1;
  transform: scale(1);
}

#profilephoto
{
   width: 300px;
   aspect-ratio: 1/1;
   border-radius: 50%;
   transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
   margin-bottom: 30px;;
}



#tagline
{
    margin: 20px;
}

.hovereffect
{
    
    transform-origin: center;
}
.hovereffect:hover
{
    transition: all 1s ease;
    transform: scale(1.05);
}

.hovereffectimg
{
    
    transform-origin: center;
}
.hovereffectimg:hover
{
    transition: all 1s ease;
    transform: scale(1.1);
    color:rgb(197, 0, 197);  
    border: 3px solid violet;  
}
#aboutlogo:hover {
    filter: drop-shadow(0 0 5px violet) drop-shadow(0 0 10px violet);
    transform: scale(1.2);
    transition: all 0.5s ease;
}

#About
{
    height: 100vh;
    text-align:center;
    align-content: center;
    padding-top: 70px; 
    margin: 20px;
}
.abouttext {
    
    width: 70vw;
    margin: 0 auto;
    
    
}

#aboutlogo
{
    height: 20vh;
    margin: 10vh;
}

#Courses
{
    height: 100vh;
    text-align:center;
    align-content: center;
    padding-top: 70px; 
    margin: 30px;

}


#Contact
{
    height: 100vh;
    text-align:center;
    align-content: center;
    padding-top: 70px; 
    margin: 30px;

}

#form
{
    margin: 0 auto;
    border: 1px solid whitesmoke;
    text-align: left;
    padding: 20px;  
    width:  60vw;
}

.inputboxes
{
    border-radius: 5px;
    width: 50vw;
    
}

.messagebox
{
    height: 20vh;
}


/*Infinite scroll*/
.tag-list
{
    width: 90vw;
    max-width: 1200px;
    margin-inline: auto;
    position: relative;
    overflow: hidden;
}
.inner
{
    width: max-content;
    display: flex;
    gap: 2rem;
    animation: loop 20s linear infinite;
}
.tag 
{
    /*display: flex;*/
    width: 250px;
    text-align: left;
    /*align-items: center;*/
    gap: 0 0.2rem;
    color:rgb(247, 247, 247);
    font-size: 0.9rem;
    background-color: rgb(72, 72, 72);
    padding: 0.7rem 1rem;
    border-radius: 0.4rem;
    box-shadow: 0 0.1rem 0.2rem rgb(45, 4, 79), 0 0.1rem 0.5rem rgb(34, 3, 78), 0 0.2rem 1.5rem rgb(49, 3, 82);
}
.tag p {
    margin-bottom: 0.4rem;
}
.scrollfade {
    position: absolute;
    background: linear-gradient(90deg, rgb(0, 0, 0), transparent 8%, transparent 92%, rgb(0, 0, 0));
    inset: 0;
    pointer-events: none;
    
}   
@keyframes loop {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
.tag-list:hover .inner {
    animation-play-state: paused;
}







